<footer>
    <div class="icons">
        <i class="fa-solid fa-briefcase"></i>
        <i class="fa-solid fa-briefcase"></i>
        <i class="fa-solid fa-briefcase"></i>
        <i class="fa-solid fa-briefcase"></i>
    </div>
    <p>Hecho en 2022</p>
</footer>