<header>
    <nav>
        <a href="/">
            <img src="" alt="Logo">
        </a>
        <div class="nav-links">
            <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/login"><i class="fas fa-user"></i> Iniciar sesión</a></li>
            <li><a href="/signup"><i class="fa-solid fa-id-card"></i> Registrarse</a></li>
        </div>
    </nav>
</header>