<header>
    <nav>
        <a href="/">
            <img src="" alt="Logo">
        </a>
        <div class="nav-links">
            <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="/access"><i class="fa-solid fa-id-card"></i>Acceder</a></li>
        </div>
    </nav>
</header>